@font-face {
	font-family: led;
	src: url("fonts/led.ttf");
}

body {
	user-select: none;
	font-family: led;
}

#root {
	--scale: 1.2;

	position: absolute;
	width: calc(500px * var(--scale));
	height: calc(274px * var(--scale));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#close {
	position: absolute;
	background: transparent;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}

/* Content */
#content {
	display: flex;
	position: absolute;

	flex-direction: column;
	align-items: stretch;

	background: rgb(84, 204, 252);
	box-shadow: inset 0px 0px 8px black;

	width: auto;
	height: auto;
	top: 19%;
	bottom: 53%;
	left: 22%;
	right: 22%;
	z-index: -1;
}

#content #info {
	padding: 5px;
	padding-left: 20px;
	font-size: 18px;
}

#content #name {
	padding: 10px;
	padding-top: 0px;
	font-size: 24px;
}

/* Grounds */
#foreground {
	position: absolute;
	background: transparent;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	object-fit: cover;
	pointer-events: none;
}

#background {
	position: absolute;
	background: transparent;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}

/* Buttons */
#buttons {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#buttons div {
	position: absolute;
	/* background: rgba(255, 0, 0, 0.5); */
	background: transparent;
}

#power {
	width: 9%;
	height: 16%;

	top: 6.5%;
	left: 7%;
}

#volume-up {
	width: 9%;
	height: 16%;

	top: 6.5%;
	left: 84%;
}

#volume-down {
	width: 9%;
	height: 16%;

	top: 45%;
	left: 84%;
}

#next-channel {
	width: 13%;
	height: 11%;

	top: 51%;
	left: 37%;
}

#last-channel {
	width: 13%;
	height: 11%;

	top: 51%;
	left: 50%;
}

/* Other */
#active-light {
	position: absolute;
	
	background: transparent;
	border-radius: 8px;
	
	width: 4.65%;
	height: 8%;

	top: 53%;
	left: 28%;
}

#active-light.on {
	--color: rgb(57, 216, 17);

	background: var(--color);
	box-shadow: 0px -2px 16px 2px var(--color);
	filter: blur(2px);
}